<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Data Logger</title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


<!-- Bootstrap -->
<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/daterangepicker.css">

<!-- AdminLTE -->
<link rel="stylesheet" href="/assets/css/AdminLTE.min.css">
<link rel="stylesheet" href="/assets/css/skin-blue.min.css">
<link rel="stylesheet" href="/assets/css/slider.css">

<link rel="stylesheet" href="/assets/css/ionicons.min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

<!-- DataTables -->
<link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/assets/css/dataTables.jqueryui.css">

<!-- Custom css -->
<link rel="stylesheet" href="/stylesheets/admin.css">


<!-- REQUIRED JS SCRIPTS -->
<!-- jQuery -->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.form-validator.min.js"></script>

<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- moment.js 2.15.1 -->
<script type="text/javascript" src='/assets/js/moment.js'></script>

<!-- Bootstrap -->
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/daterangepicker.js"></script>

<!-- AdminLTE App -->
<script type="text/javascript" src="/assets/js/adminlte.min.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-slider.js"></script>


<!-- Datatables -->
<script type="text/javascript" src="/assets/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.jqueryui.js"></script>
<script type="text/javascript" src="/assets/js/dataTables.bootstrap4.min.js"></script>
